.nav {
    &__list {
        display: flex;
        @include list-reset;
    }

    .list--header {
        justify-content: space-between;
    }

    .list--footer {
        flex-direction: column;
    }

    &__link {
        position: relative;
        @include font-style(0.4vw, 300);
        @include link-hover;

        transition: all 0.6s;
    }

    &__link-lang {
        padding: 4px 10px;
        background-color: transparent;
        border: 2px solid $text-hover;
        border-radius: 10px;

        @include outline;
        transition: ease 0.6s;
    }

    &__item--footer {
        margin-bottom: 5%;
    }
}

.items {
    position: relative;
    transition: all 0.6s;

    &__link {
        @include link-hover;
    }

    &__span {
        @include font-style(0.4vw, 300);
        position: relative;
        transition: all 0.6s;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: url("img/icon/arrow1.svg") no-repeat;
            transition: all 0.6s ease;
        }

        &--header {
            &::before {
                top: 0%;
                left: 110%;
            }
        }

        &--footer {
            &::before {
                top: 0;
                left: 0;
                transform: translate(70%, -82%) rotate(-90deg);
            }
        }
    }

    .items__list {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        padding: 0;
        width: 350px;

        transition: 0.6s ease-in-out;

        background: $button-hover;
        padding: 12%;

        &--header {
            margin-top: 30%;
            padding-left: 0;
        }

        &--footer {
            top: 0;
            left: 40%;
            transform: translate(3%, 0%);
        }

        .items__item {
            padding: 2% 0;
            @include list-reset;
            margin-bottom: 4%;
            transition: 0.6s ease;

            &::before {
                content: "";
                width: 10px;
                height: 2px;
                background: $text-hover;
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
                transition: 0.6s ease;
            }

            &:hover {
                &::before {
                    background: $color-green;
                }
            }
        }

        .items__link {
            position: relative;
            @include link-hover;

            @include font-style(0.3vw, 300);
        }
    }

    &:hover,
    &:focus,
    &:active {
        .items__span {
            color: $text-hover;

            &--header {
                &::before {
                    transform: translate(0, 10%);
                }
            }
        }

        .items__list {
            visibility: visible;
            opacity: 1;
        }
    }
}
