.nav {
    &__list {
        z-index: 3;
        @include list-reset;
    }

    .list--header {
        justify-content: space-between;
        @include font-style(0.4vw, 300);
    }

    .list--footer {
        flex-direction: column;
        align-items: start;
        @include font-style(1vw, 300);

        margin-bottom: 5%;

        @include tablet-768 {
            margin-bottom: 0;

            @include font-style(0.7vw, 300);
        }
    }

    &__link {
        @include link-hover;
        position: relative;
        transition: all 0.6s;
    }

    &__span {
        position: relative;

        transition: all 0.6s;

        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            padding: 2%;
            background: url("img/icon/arrow1.svg") no-repeat center;
            transition: all 0.6s ease;

            top: 0;
            right: 0;
            transform: translate(100%, 5%) rotate(0);
        }

        &--footer {
            @include font-style(1vw, 300);

            @include tablet-768 {
                @include font-style(0.6vw, 300);
            }

            &::before {
                @include tablet-768 {
                    transform: translate(100%, 0%) rotate(-90deg);
                }
            }
        }
    }

    &__link-lang {
        padding: 4px 10px;
        background-color: transparent;
        border: 2px solid $text-hover;
        border-radius: 10px;

        @include outline;
        transition: ease 0.6s;
    }

    &__item--footer {
        margin-bottom: 5%;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.items {
    position: relative;
    transition: all 0.6s ease-in-out;

    .items__list {
        position: relative;
        visibility: hidden;
        opacity: 0;
        width: 20vh;
        max-height: 0;

        text-align: left;
        @include font-style(0.4vw, 300);

        // border-radius: $card-border-radius;
        background: #21262952;
        @include bock-blur;
        // box-shadow: $card-box-black-inset, $box-shadow-black-inset;

        transition: 0.6s ease-in-out;

        @include mobile-425 {
            width: 70vh;
        }

        @include tablet-768 {
            position: absolute;
            width: 60vh;
        }

        &--header {
            @include tablet-768 {
                z-index: -1;
                top: 0%;
                left: 0%;
                padding: 52%;
                transform: translate(-20%, 20%);
            }
        }

        &--footer {
            @include tablet-768 {
                top: 0;
                left: 40%;
                padding: 50%;
                transform: translate(20%, -15%);
            }
        }

        .items__item {
            @include list-reset;
            margin-bottom: 4%;
            transition: 0.6s ease;

            &::before {
                content: "";
                width: 10px;
                height: 2px;
                background: $text-hover;
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
                transition: 0.6s ease;
            }

            &:hover {
                color: $text-hover;
                &::before {
                    background: $color-green;
                    box-shadow: 0px 0px 6px 0px #2ef8ff;
                }
            }
        }
    }
}

.nav__item {
    @include tablet-768 {
        &:hover,
        &:focus,
        &:active {
            .nav__span {
                color: $text-hover;

                &--header {
                    &::before {
                        transform: translate(100%, 20%);
                    }
                }

                &--footer {
                    &::before {
                        @include tablet-768 {
                            transform: translate(115%, 0%) rotate(-90deg);
                        }
                    }
                }
            }

            .items__list {
                visibility: visible;
                opacity: 1;
                max-height: 400px;
            }
        }
    }
}

.open {
    .items__list {
        max-height: 400px;
        visibility: visible;
        opacity: 1;

        padding: 8%;
        margin: 5% 0;
    }

    .nav__span {
        color: $text-hover;

        &::before {
            transform: translate(110%, 20%);
        }

        &--footer {
            &::before {
                transform: translate(110%, 5%) rotate(180deg);

                @include tablet-768 {
                    transform: translate(110%, 0%) rotate(-90deg);
                }
            }
        }
    }
}
