.nav {
    &--header {
        opacity: 0;
        visibility: hidden;

        width: 100%;
        position: fixed;
        left: -100%;
        right: 0;
        top: 0;
        bottom: 0;

        text-align: center;
        background-color: #212629a1;

        @include bock-blur;
        padding: 22vh 2% 22vh 10%;

        transform: translate(-100%, 0);
        transition: $trasition-08;

        @include mobile-567 {
            text-align: start;
            width: 50%;
            padding: 15vh 2% 22vh 10%;
        }

        @include tablet-992 {
            visibility: visible;
            opacity: 1;
            width: 100%;
            position: relative;
            padding: 0;
            left: 0;
            transform: translate(0%, 0);

            backdrop-filter: none;
            background: transparent;
            border: none;
            box-shadow: none;
        }
    }
    &__list {
        z-index: 3;
        @include list-reset;
    }

    .list--header {
        flex-direction: column;
        @include font-style(2.5vw, 300);

        @include mobile-567 {
            @include font-style(1.5vw, 300);
        }

        @include tablet-992 {
            flex-direction: row;
            justify-content: space-between;
            @include font-style(0.4vw, 300);
        }
    }

    .list--footer {
        flex-direction: row;
        justify-content: space-around;
        @include font-style(1vw, 300);

        margin-bottom: 5%;

        @include tablet-768 {
            margin-bottom: 0;

            @include font-style(0.7vw, 300);
        }
    }

    &__link {
        @include link-hover;
        position: relative;
        transition: all 0.6s;
    }

    &__link-lang {
        padding: 4px 10px;
        background-color: transparent;
        border: 2px solid $text-hover;
        border-radius: 10px;

        @include outline;
        transition: ease 0.6s;
    }

    &__item--header {
        margin-bottom: 20px;
    }

    &__item--footer {
        margin-bottom: 5%;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.items {
    position: relative;
    transition: all 0.6s ease-in-out;
    pointer-events: all;
    background: #21262952;

    @include tablet-992 {
        background: transparent;
    }

    .items__list {
        position: relative;
        width: 100%;
        padding: 32px;

        text-align: left;
        @include font-style(0.6vw, 300);

        background: #21262981;
        @include bock-blur;

        transition: 0.6s ease-in-out;

        @include tablet-992 {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            margin: 12px 0;
            padding: 32px;
            min-width: 450px;

            transform: translate(-20%, 10%);

            @include font-style(0.3vw, 300);
        }

        &--header {
            @include tablet-992 {
                z-index: -1;
                top: 0;
                left: 0;
            }
        }

        &--footer {
            display: none;

            @include tablet-992 {
                display: block;
                top: 0;
                left: 40%;

                // transform: translate(20%, -15%);
            }
        }

        .items__item {
            @include list-reset;
            margin-bottom: 8%;
            transition: 0.6s ease;

            &::before {
                content: "";
                width: 10px;
                height: 2px;
                background: $text-hover;
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
                transition: 0.6s ease;
            }

            &:hover {
                color: $text-hover;
                &::before {
                    background: $color-green;
                    box-shadow: 0px 0px 6px 0px #2ef8ff;
                }
            }

            @include tablet-992 {
                margin-bottom: 4%;
            }
        }

        .items__link {
            @include outline;
        }
    }
}

.nav__item {
    @include tablet-992 {
        &:hover,
        &:focus,
        &:active {
            .nav__span {
                color: $text-hover;
            }

            .items__list {
                visibility: visible;
                opacity: 1;
                max-height: 400px;
            }
        }
    }
}

.show {
    .nav--header {
        opacity: 1;
        visibility: visible;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        transform: translate(0%, 0);
    }
}
