.paying {
    position: relative;
    @include section-grey;
    transition: $trasition-08;

    padding: 6vh 0 4vh;

    &__title {
        margin-bottom: 5%;
    }

    &__list {
        padding: 0 5px;
    }

    &__link {
        pointer-events: none;
        @include position-absolute;
    }

    &__text {
        margin: 0;
        padding-top: 0px;
        color: transparent;
        line-height: 1.2;
        text-align: center;
        pointer-events: none;
        font-size: 12px;
        transition: $trasition-08;

        @include mobile-567 {
            font-size: 16px;
        }

        @include tablet-768 {
            font-size: 20px;
        }

        @include tablet-992 {
            color: $text-black;
            padding-top: 90px;
            @include font-style(0.6vw, 400);
        }

        @include laptopM-1200 {
            padding-top: 120px;
            @include font-style(0.5vw, 400);
        }
    }

    .item {
        position: relative;
        cursor: pointer;
        width: 22%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        transition: $trasition-08;

        &--style {
            border-radius: 6px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            box-shadow: $card-box-shadow, $card-box-shadow-inset, $box-shadow-white-inset;
            background: $card-gradient;
            transition: $trasition-08;

            &:hover {
                transform: translate(0, 2%);
            }

            @include mobile-567 {
                border-radius: 15px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

            @include tablet-992 {
                border-radius: $card-border-radius;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        &--padding {
            padding: 0 2%;

            @include tablet-992 {
                padding: 2%;
            }

            @include laptopM-1200 {
                padding: 3%;
            }
        }
    }

    .icon {
        &--1 {
            background-image: url(img/svg/pay1.svg);
            background-size: 30%;
            background-position: 60% 50%;
        }

        &--2 {
            background-image: url(img/svg/pay2.svg);
            background-size: 32%;
            background-position: 50% 50%;

            @include laptopM-1200 {
                background-size: 46%;
            }
        }

        &--3 {
            background-image: url(img/svg/pay3.svg);
            background-size: 32%;
            background-position: 50% 50%;

            @include tablet-992 {
                background-size: 30%;
            }
        }

        &--4 {
            background-image: url(img/svg/pay4.svg);
            background-size: 30%;
            background-position: 50% 50%;

            @include tablet-992 {
                background-size: 30%;
            }
            @include laptopM-1200 {
                background-size: 40%;
            }
        }

        background-repeat: no-repeat;
        transition: $trasition-08;

        @include tablet-992 {
            background-position: 50% 20%;
        }
    }

    .show {
        background: $card-technology;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transition: $trasition-08;

        @include mobile-567 {
            transform: translate(0%, 17%);
        }

        @include tablet-992 {
            transform: translate(0%, 11%);
        }

        .paying__text {
            @include tablet-992 {
                color: $text-color;
            }
        }
    }
}
