.service {
    overflow: hidden;
    position: relative;
    @include section-grey;

    transition: $trasition-08;

    padding: 10vh 0 20vh;

    &__title {
        margin-bottom: 15%;

        @include tablet-768 {
            margin-bottom: 8%;
        }
    }

    &__link {
        @include position-absolute;
    }

    &__list {
        position: relative;
        @include list-reset;
    }

    &__items {
        position: relative;
        display: flex;
        align-items: center;

        flex-direction: column;

        margin-bottom: 10%;

        @include tablet-768 {
            flex-direction: row;
            margin-bottom: 15%;
        }

        &:last-child {
            margin-bottom: 0;
            @include tablet-768 {
                margin-bottom: 0;
            }
        }
    }

    &--opacity {
        opacity: 0;
        transition: all 0.6s ease-in-out;
    }
}

.service.animation-class {
    opacity: 1;
}

.service__items {
    opacity: 0;
    transform: translateX(-60px);
    transition: all 0.8s ease-in-out;

    &:nth-child(2) {
        transform: translateX(60px);
    }

    &:nth-child(3) {
        transform: translateX(-60px);
    }

    &:nth-child(4) {
        transform: translateX(60px);
    }
}

.service__items.animation-class {
    opacity: 1;
    transform: translateX(0);
}

.service__bg {
    pointer-events: none;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 8%;
    left: -8%;
    bottom: 0%;

    background-repeat: no-repeat;

    display: none;

    @include tablet-992 {
        display: block;
        top: 0;
        right: 6%;
        left: 8%;
        bottom: -28%;
    }

    @include laptopM-1200 {
        left: 0%;
        bottom: -28%;
    }

    &--left {
        background-position-x: right;
        background-position-y: bottom;
    }

    &--right {
        background-position-x: left;
        background-position-y: bottom;
    }

    &--1 {
        background-image: url("img/services-icon/1.png");

        background-size: 28%;
        right: 5%;
        bottom: -15%;

        @include laptopM-1200 {
            background-size: 20%;
            right: 0%;
        }
    }

    &--2 {
        background-image: url("img/services-icon/2.png");

        background-size: 20%;

        @include tablet-992 {
            background-size: 13%;
        }
    }

    &--3 {
        background-image: url("img/services-icon/3.png");

        background-size: 30%;

        right: 5%;
        bottom: -15%;

        @include tablet-992 {
            background-size: 18%;
        }

        @include laptopM-1200 {
            background-size: 19%;
            right: 0%;
            bottom: -25%;
        }
    }

    &--4 {
        background-image: url("img/services-icon/4.png");

        background-size: 18%;

        bottom: -25%;

        @include tablet-992 {
            background-size: 18%;
        }

        @include laptopM-1200 {
            background-size: 14%;
            left: -3%;
        }
    }
}

.box {
    position: relative;
    width: 100%;

    padding: 4% 4%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: $text-color;
    transition: $trasition-08;

    @include tablet-768 {
        width: 30%;
        height: 350px;
    }

    @include tablet-992 {
        width: 40%;
    }

    &--left {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        @include tablet-768 {
            border-top-right-radius: 0;
            border-bottom-left-radius: $card-border-radius;
            border-top-left-radius: $card-border-radius;
        }
    }

    &--right {
        order: 1;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        @include tablet-768 {
            order: 2;
            border-bottom-right-radius: $card-border-radius;
            border-top-right-radius: $card-border-radius;
        }
    }

    &__name {
        margin: 0;

        color: $text-black;
        line-height: 1.5;

        text-align: center;
        text-transform: uppercase;
        @include font-style(1.5vw, 700);

        @include tablet-768 {
            @include font-style(0.8vw, 700);
        }

        transition: $trasition-08;
    }
}
.description {
    position: relative;

    width: 100%;

    padding: 5vh 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 10px 0px #0000005b;

    @include tablet-768 {
        width: 70%;
        border-radius: $card-border-radius;
    }

    @include tablet-992 {
        width: 60%;
    }

    &--left {
        background: linear-gradient(-220deg, #212629 45%, #33b9bd 130%);

        @include tablet-768 {
            padding: 8vh 2%;
            box-shadow: -5px -2px 10px #0000005b, $card-box-shadow-inset;
        }
    }

    &--right {
        order: 2;
        z-index: 1;
        background: linear-gradient(220deg, #212629 45%, #33b9bd 130%);

        @include tablet-768 {
            order: 1;

            padding: 8vh 2%;
            box-shadow: 4px -4px 5px -4px #33b9bd inset, 5px 2px 10px #0000005b;
        }
    }

    &__text {
        margin-bottom: 10%;
    }

    &__list {
        @include list-reset;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 5%;

        @include tablet-768 {
            flex-direction: row;
        }
    }

    &__items {
        position: relative;
        width: 100%;
        margin-bottom: 5%;

        @include tablet-768 {
            width: 46%;
            margin-right: 5%;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .content {
        &__title {
            margin-bottom: 5%;

            @include font-style(0.7vw, 700);
        }

        &__item {
            margin-bottom: 2%;

            @include font-style(0.4vw, 300);

            &:last-child {
                margin-bottom: 0;
            }

            &::marker {
                color: $color-green;
            }
        }
    }
}
