.services-intro {
    text-align: center;
    position: relative;
    padding-top: 180px;
    padding-bottom: 100px;
    transition: all 0.6s ease;

    @include tablet-768 {
        text-align: start;
        padding-top: 200px;
        padding-bottom: 100px;
    }

    @include laptopM-1200 {
        padding-top: 30vh;
        padding-bottom: 150px;
    }

    &__inner {
        width: 100%;
        position: relative;

        transition: all 0.6s ease;

        @include tablet-768 {
            width: 50%;
            text-align: start;
        }
    }

    &__img {
        width: 40%;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0%, -50%);

        @include tablet-768 {
            display: block;
        }

        @include laptopM-1200 {
            z-index: -1;
            transform: translate(-2%, -50%);
        }

        @include laptopM-1440 {
            transform: translate(10%, -50%);
        }
    }

    &__title {
        margin-bottom: 10%;
    }

    &__text {
        margin-bottom: 18%;
    }
}
