.services-intro {
    text-align: center;
    position: relative;
    padding-top: 180px;
    padding-bottom: 100px;
    transition: all 0.6s ease;

    @include tablet-768 {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    @include laptopM-1200 {
        padding-top: 30vh;
        padding-bottom: 150px;
    }

    &__inner {
        width: 100%;
        position: relative;

        transition: all 0.6s ease;

        @include tablet-768 {
            width: 50%;
        }
    }

    &__img {
        display: none;
        position: absolute;
        z-index: -1;
        top: 30%;
        right: 5%;

        @include tablet-768 {
            display: block;
        }

        @include laptopM-1200 {
            top: 20%;
            // width: 40%;
        }

        @include laptopM-1440 {
            width: 36%;
        }
    }

    &__title {
        margin-bottom: 10%;
    }

    &__text {
        margin-bottom: 18%;
    }
}
