.advantages {
    background-color: $background-black1;
    padding: 10vh 0;
    transition: all 0.6s ease-in-out;

    @include mobile-425 {
        padding: 130px 0 50px;
    }

    @include tablet-768 {
        padding: 130px 0 130px;
    }

    &__title {
        margin-bottom: 10%;

        transition: all 0.6s ease-in-out;
    }

    &__list {
        flex-direction: row;
        padding: 50% 0 20px;
        justify-content: space-between;

        background-image: url("img/kiber-mobile.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 40%;

        transition: all 0.6s ease-in-out;

        @include tablet-768 {
            padding: 20px 0 20px;

            background-image: url("img/kibersport.png");
            background-position: center;
            background-size: 100%;
        }
    }

    &__item {
        width: 100%;
        margin-bottom: 10%;
        text-align: center;

        transition: all 0.6s ease-in-out;

        &:last-child {
            margin-bottom: 0;
        }

        @include mobile-425 {
            width: 48%;
        }

        @include tablet-768 {
            &:nth-child(-n + 2) {
                margin-bottom: 30%;
            }

            &:nth-child(odd) {
                text-align: start;
                .advantages__text {
                    margin-right: 50%;
                }
            }

            &:nth-child(even) {
                text-align: end;

                .advantages__text {
                    margin-left: 40%;
                }
            }
        }
    }

    &__subtitle {
        margin: 0;
        color: $text-color;
        letter-spacing: 2px;
        text-transform: uppercase;
        @include font-style(0.7vw, 700);

        // @include tablet-768 {
        //     @include font-style(0.7vw, 300);
        // }
    }

    &__text {
        letter-spacing: 2px;
        color: $text-color;
        @include font-style(0.5vw, 300);
    }
}
