@mixin list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px !important;
    height: 1px !important;
    margin: 0;
    padding: 0 !important;
    border: 0 !important;
}

@mixin position-absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

//button
@mixin btn-size($height, $width) {
    padding: #{$height} #{$width};
}

@mixin outline {
    outline: none;

    &:focus,
    &:hover {
        opacity: 0.5;
    }
}

@mixin link-hover {
    &:before {
        z-index: -1;
        content: "";
        position: absolute;
        bottom: 0.8vh;
        left: -5px;
        right: -5px;
        height: 0.6vh;
        background: $color-green;

        transform: scaleX(0);
        transition: $cubic-bizie;
        transform-origin: left center;
    }

    &:hover {
        color: $text-hover;
        &:before {
            transform: scaleX(1);
        }
    }

    &:active:before,
    &:focus:before,
    &:hover:before {
        transform: scaleX(1);
    }

    &:active,
    &:focus,
    &:hover {
        color: $text-hover;
        outline: none;
    }
}
// @mixin button {
//     position: relative;

//     border: 2px solid transparent;
//     background-color: transparent;
//     border-radius: 40px;

//     text-transform: uppercase;

//     cursor: pointer;
//     transition: all 0.6s ease;
// }

@mixin btn-after($gradient, $background, $right) {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 7%;

        height: 100%;
        width: 14px;
        background: url("img/icon/next.svg") no-repeat 50% 50%;

        transform: translate3d(-6px, 0, 0);
        transition: all 0.6s ease;
        opacity: 0;
        pointer-events: none;
    }

    &:before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;

        background: #{$gradient};
        border-radius: 40px;

        opacity: 0;
        transition: all 0.6s ease;
    }

    &:hover {
        color: $nero;
        padding-right: #{$right};

        background: #{$background};
        box-shadow: $box-shadow;

        &:before {
            opacity: 1;
        }

        &:after {
            opacity: 1;
            transform: translate3d(0, 0, 0);
            transition-delay: 0.3s;
        }
    }
}

// @mixin title-before {
//     &:before {
//         content: "";
//         width: 40px;
//         height: 3px;
//         background: #fff;
//         display: inline-block;
//         margin-right: 15px;
//         vertical-align: middle;

//         @include tablet-768 {
//             width: 30px;
//             margin-right: 10px;
//         }
//     }
// }

@mixin text-before($color) {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: #{$color};
    -webkit-text-stroke: 1px #e4ebee;
    overflow: hidden;
}

//gradient
@mixin gradient-text {
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, #a7c939, #d8d823);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin font-style($size, $weight) {
    font-size: calc(#{$size} + 10px);
    font-weight: #{$weight};
}

//adaptive

@mixin laptopM-1440 {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin laptopM-1200 {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin tablet-992 {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin tablet-768 {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin mobile-567 {
    @media (min-width: 540px) {
        @content;
    }
}

@mixin mobile-425 {
    @media (min-width: 425px) {
        @content;
    }
}
