//color
$background-black1: #212629;
$background-grey: #e0e4e7;
$background-partners: #fcfcfc;
$color-green: #33b9bd;
$stroke-green: #bbf0f1;
$stroke-gray: #e6f8f8;
$header-background: rgba(28, 28, 34, 0.5);

//gradient
$background-gradient1: linear-gradient(269.62deg, #ffffff 27.31%, #33b9bd 99.75%);

//button gradient
$button-gradient: linear-gradient(223.4deg, #13e2e9, #33b7bb);
$button-hover: linear-gradient(-290deg, #103c3d, #13e2e9);
// $background-gradient2: linear-gradient(296.57deg, #17141a 53.21%, #007470 57.4%, #17141a 60.77%);

$gradient-greeen: linear-gradient(269.62deg, #ffffff 27.31%, #089ba0 99.75%);
$gradient-greeen-mobile: linear-gradient(to bottom, #ffffff, #089ba0);

$gradient-contacts-page: linear-gradient(38.25deg, #212629 63.52%, #25484b 100%);
$gradient-form: linear-gradient(180deg, #212629 45%, #33b9bd 130%);
$gradient-service: linear-gradient(180deg, #33b9bd 10%, #212629 100%);

//card-white

$card-gradient: linear-gradient(223.4deg, #33b7bb -14.16%, #ffffff 29%);

$card-box-shadow: 0px 10px 10px #00000033;
$card-shadow: 0px -10px 10px #b5cacc;
$card-shadow-glass: 2px -8px 10px #0000001e;
$card-box-shadow-inset: -4px 4px 5px -4px #33b9bd inset;
$box-shadow-white-inset: 4px -4px 3px -4px #b5cacc inset;
$card-border-radius: 35px;

//card-black
$card-technology: linear-gradient(203.56deg, #33b9bd -60%, #212629 43%);
$card-box-black: 0px 12px 10px #778688;
$card-box-black-inset: -4px 4px 5px -4px #42e2e7 inset;
$box-shadow-black-inset: 4px -4px 3px -4px #555c5c inset;

// $card-elips-gradient: linear-gradient(203.56deg, #408688 -31.53%, #18181e 44.02%);

//text
$text-hover: #637987;
$text-color: #fff;
$text-black: #212629;
$trasparent: transparent;
// $text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
$text-border: 1px;
$h1-gradient: radial-gradient(#eff1ff 40%, #000);

$trasition-08: 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);

// $transform: translateX(calc(var(--x) / -30)) translateY(calc(var(--y) / -30));
// $transform-elX: translateX(calc(var(--x) / 20)) translateY(calc(var(--y) / 20));
// $transform-el2: translateX(calc(var(--x) / -10)) translateY(calc(var(--y) / -10));

$cubic-bizie: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
// $cubic-8sec: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
