.techno {
    text-align: center;
    position: relative;
    padding-top: 180px;
    padding-bottom: 100px;
    transition: all 0.6s ease;

    @include tablet-768 {
        text-align: start;
        padding-top: 200px;
        padding-bottom: 100px;
    }

    @include laptopM-1200 {
        padding-top: 30vh;
        padding-bottom: 150px;
    }

    &__inner {
        width: 100%;
        position: relative;

        transition: all 0.6s ease;

        @include tablet-768 {
            width: 50%;
            text-align: start;
        }
    }

    &__img {
        z-index: -1;
        display: none;
        position: absolute;
        top: 30%;
        right: 5%;

        @include tablet-768 {
            display: block;
        }

        @include tablet-992 {
            top: 20%;
        }
    }

    &__title {
        margin-bottom: 10%;
    }

    &__text {
        margin-bottom: 28%;
    }
}

.image {
    position: absolute;

    top: 0;
    right: 20%;
    left: 0;
    bottom: 0;

    background-position: right center;
    background-repeat: no-repeat;

    &__circle1 {
        background-image: url("img/technology/3.png");
        background-size: 20%;
    }

    &__circle2 {
        right: 5%;
        background-image: url("img/technology/cirle1.png");
        background-size: 50%;
    }
}
