.business {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;

    @include tablet-768 {
        flex-direction: row;
    }

    &__background {
        position: fixed;
    }

    &__inner {
        order: 2;

        width: 90%;
        margin: 5%;
        padding: 5%;
        text-align: center;

        @include tablet-768 {
            order: 1;

            position: relative;
            width: 48%;
        }

        @include tablet-992 {
            margin: 0px 5% 0 10%;
        }
    }

    &__image {
        order: 1;
        width: 100%;
        padding: 30%;

        position: relative;

        background-color: $background-black1;

        @include tablet-768 {
            order: 2;
            width: 50%;
            padding: 40% 0;
        }

        @include tablet-992 {
            padding: 30% 0;
        }
    }

    &__img {
        position: absolute;
        width: 60%;
        top: 10%;

        left: 20%;

        @include tablet-768 {
            top: 20%;
            left: 0%;
            width: 80%;
        }
    }

    &__title {
        margin-bottom: 10%;
    }

    &__subtitle {
        margin-bottom: 18%;
    }

    &--opacity {
        opacity: 0;
        transition: all 0.6s ease;
    }
}

.business__inner.animation-class {
    opacity: 1;
}
