.business {
    padding: 180px 0;
    position: relative;

    &__inner {
        position: relative;
        width: 50%;
    }

    &__img {
        position: absolute;
        top: 0;
        right: 5%;
    }

    &__title {
        margin-bottom: 10%;
    }

    &__subtitle {
        margin-bottom: 18%;
    }
}
