.footer {
    z-index: 2;
    padding: 12vh 0 10vh;
    position: relative;
    // background-image: url("img/intro/background.jpg");

    @include tablet-768 {
        padding: 12vh 0 6vh;
    }

    &__background {
        @include position-absolute;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("img/intro/background.jpg");

        .overlay {
            @include position-absolute;

            background: rgba(6, 6, 6, 0.8);
        }
    }

    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5%;

        @include tablet-768 {
            flex-wrap: nowrap;
            align-items: start;
            justify-content: space-between;
        }
    }

    &__link {
        width: 100%;

        @include outline;
        transition: ease 0.6s;
        text-align: center;

        margin-bottom: 5%;
    }

    &__nav {
        z-index: 3;
        width: 50%;
        margin: 0 auto;
    }
}

// .other {
//     order: 3;
//     width: 40%;
//     text-align: right;
//     @include list-reset;

//     @include font-style(0.6vw, 300);

//     @include tablet-768 {
//         order: 3;
//         width: 25%;
//     }

//     @include tablet-992 {
//         width: 15%;
//     }

//     &__item {
//         margin-bottom: 4%;

//         &:last-child {
//             margin-bottom: 0;
//         }
//         @include tablet-768 {
//             margin-bottom: 10%;
//         }
//     }

//     &__link {
//         transition: all 0.6s;
//         &:hover {
//             color: $text-hover;
//             box-shadow: 1px 5px 0px -2px $color-green;
//         }
//     }

//     &__address {
//         margin-bottom: 20px;
//     }
// }
