.intro {
    padding-top: 180px;
    padding-bottom: 100px;
    transition: all 0.6s ease;

    position: relative;
    // background-color: $background-black1;
    // background: url("img/vector.png") no-repeat;
    // background-position: -2% 0;

    @include tablet-768 {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    @include laptopM-1200 {
        padding-top: 35vh;
        padding-bottom: 200px;
    }

    &__inner {
        width: 100%;
        position: relative;
        text-align: center;
        transition: all 0.6s ease;

        @include tablet-768 {
            text-align: start;
            width: 50%;
        }
    }

    &__img {
        display: none;
        position: absolute;
        // width: 55%;
        bottom: 0%;
        right: 2%;
        transition: all 0.6s ease;

        @include tablet-768 {
            display: block;
            // width: 65%;
        }

        // @include laptopM-1200 {
        //     width: 55%;
        // }
    }

    &__title {
        margin-bottom: 10%;
    }

    &__subtitle {
        margin-bottom: 18%;
    }
}
