.title {
    margin: 0;

    &--font-intro {
        // text-align: center;
        @include font-style(4.5vw, 700);

        @include mobile-425 {
            @include font-style(5vw, 700);
        }

        @include tablet-768 {
            @include font-style(3vw, 700);
        }
    }

    &--color-white {
        color: $text-color;
    }

    &--color-black {
        color: $text-black;
    }

    &__border--white {
        position: relative;
        @include text-stroke($text-color);

        @include mobile-567 {
            margin-right: 5%;
        }
    }

    &__border--black {
        @include text-stroke($text-black);
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--gradient {
        @include gradient-text($h1-gradient);
    }

    &--gray-section {
        text-align: right;
        text-transform: uppercase;
        @include font-style(1.2vw, 700);
    }

    &--font {
        @include font-style(3vw, 700);

        @include tablet-768 {
            @include font-style(2vw, 700);
        }
    }
}

.subtitle,
.text {
    color: $text-color;
    letter-spacing: 2px;
    margin: 0;
    @include font-style(1vw, 300);

    @include tablet-768 {
        @include font-style(0.7vw, 300);
    }

    &--white {
        color: $text-color;
    }

    &--black {
        color: $text-black;
    }

    &__span {
        font-weight: 400;
        text-transform: uppercase;
    }
}

.button {
    position: relative;
    @include outline;

    color: $text-color;
    // background-color: transparent;

    text-transform: uppercase;
    @include font-style(0.3vw, 400);

    padding: 16px 60px;

    border: 1px solid $color-green;
    border-radius: 20px;
    transition: all 0.6s ease;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0%;

        height: 100%;
        width: 33px;
        background: url("img/icon/arrow.svg") no-repeat 50%;
        background-size: 80%;

        transform: translate3d(6px, 0, 0);
        transition: all 0.6s ease;
        opacity: 0;
        pointer-events: none;
    }

    &:hover,
    &:focus,
    &:active {
        padding: 16px 50px 16px 90px;

        &::before {
            opacity: 1;
            transform: translate3d(26px, 0, 0);
        }
    }

    &--black {
        background-color: rgba(0, 0, 0, 0.568);
        box-shadow: 0 10px 15px rgb(0, 0, 0);
        &:hover,
        &:active,
        &:focus {
            border-color: rgb(47, 58, 58);
            box-shadow: 3px 8px 10px rgb(0, 0, 0);
        }
    }

    &--green {
        background: transparent;
        box-shadow: 0 10px 15px #1f1e1e7c;
        &:hover,
        &:active,
        &:focus {
            border: 1px solid #227c80;
            box-shadow: 3px 8px 10px #1f1e1ea8;
        }
    }

    &--modal {
        padding: 12px 40px;

        &:hover,
        &:focus,
        &:active {
            padding: 12px 40px 12px 60px;

            &::before {
                opacity: 1;
                transform: translate3d(22px, 0, 0);
            }
        }

        @include mobile-567 {
            padding: 16px 60px;

            &:hover,
            &:focus,
            &:active {
                padding: 16px 50px 16px 90px;

                &::before {
                    opacity: 1;
                    transform: translate3d(26px, 0, 0);
                }
            }
        }
    }
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .text {
        margin: 0;
        // margin: 0 5% 5% 5%;
        text-align: center;
        @include font-style(1.2vw, 400);

        @include tablet-992 {
            @include font-style(0.7vw, 400);
        }

        @include laptopM-1200 {
            margin: 0 0 5% 0;
            @include font-style(0.5vw, 400);
        }

        &--circle {
            margin: 0;
            width: 80%;
            @include font-style(0.1vw, 300);

            @include mobile-425 {
                @include font-style(0.01vw, 300);
            }

            @include tablet-768 {
                @include font-style(0.3vw, 300);
            }
        }
    }
}

.background {
    z-index: -1;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &--bg {
        background-image: url("img/intro/background.jpg");
    }

    &--about {
        background-image: url("img/about/bg2.jpg");
    }

    .overlay {
        @include position-absolute;

        &--black {
            background: rgba(6, 6, 6, 0.8);
        }

        &--about {
            background: rgba(0, 0, 0, 0.8);
        }
    }
}

.bg {
    &-card1 {
        background-size: 90%;
        background-image: url("img/svg/card1.svg");
    }

    &-card2 {
        background-image: url("img/svg/card2.svg");
    }

    &-card3 {
        background-image: url("img/svg/card3.svg");
    }
    &-card4 {
        background-image: url("img/svg/card4.svg");
    }
    background-size: 40%;
    background-position: center center;
    background-repeat: no-repeat;
}

.icon {
    &--1 {
        background-image: url(img/svg/pay1.svg);
    }

    &--2 {
        background-image: url(img/svg/pay2.svg);
    }

    &--3 {
        background-image: url(img/svg/pay3.svg);
    }

    &--4 {
        background-image: url(img/svg/pay4.svg);
    }

    background-repeat: no-repeat;
    background-position: top center;

    @include tablet-768 {
        background-position: top center;
    }
}

.overlay-header {
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
}

.active-overlay {
    opacity: 0.25;
    pointer-events: all;
    transition: 0.5s;
}
