.payments {
    position: relative;
    background: $gradient-greeen-mobile;
    box-shadow: $card-box-shadow, $card-shadow;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include tablet-768 {
        padding: 180px 0;
        flex-direction: row;
        background: $gradient-greeen;
    }

    @include laptopM-1200 {
        padding: 280px 0 40vh;
    }

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translatex(0%) translatey(0%) rotate(180deg);
        background-image: url("img/vector.png");
        background-repeat: no-repeat;
        display: none;

        @include tablet-768 {
            display: block;
        }
    }

    &__inner {
        // order: 2;
        position: relative;
        margin-top: 70%;
        width: 100%;

        text-align: center;

        @include mobile-425 {
            margin-top: 60%;
        }

        @include mobile-567 {
            margin-top: 75%;
        }

        @include tablet-768 {
            width: 50%;
            margin-top: 0;
            margin-left: 50%;
        }
    }

    &__img {
        @include position-absolute;
        width: 40%;
        top: 10%;
        left: 30%;

        transform: translate(-50%, -50%);

        @include tablet-768 {
            left: 0;
        }

        @include tablet-992 {
            width: 35%;
            top: 0%;
        }

        @include laptopM-1200 {
            top: 10%;
        }
    }

    &__title {
        margin-bottom: 10%;
    }

    &__text {
        margin-bottom: 18%;

        @include tablet-768 {
            margin-bottom: 0;
        }
    }
}
