.services {
    position: relative;
    @include section-grey;
    transition: all 0.6s ease-in-out;

    .title__link {
        position: relative;
        z-index: 1;
        @include link-hover;
    }

    &__link {
        @include position-absolute;
    }

    &__text {
        padding-top: 120px;
        margin: 0 5% 5% 5%;
        color: $text-black;
    }

    .item {
        margin-bottom: 8%;

        &--width {
            width: 80%;

            @include mobile-567 {
                width: 40%;
                margin-bottom: 5%;
            }

            @include laptopM-1200 {
                width: 22%;
            }
        }
        &--style {
            border-radius: $card-border-radius;
            box-shadow: $card-box-shadow, $card-box-shadow-inset, $box-shadow-white-inset;

            background: $card-gradient;
        }

        &--hover-gradient {
            &:hover,
            &:active,
            &:focus {
                border-radius: $card-border-radius;
                background: $card-technology;
            }
        }

        &:hover {
            .text {
                color: $text-color;
            }
        }

        &--padding {
            padding: 8% 3%;

            @include tablet-992 {
                padding: 6% 3%;
            }

            @include laptopM-1200 {
                padding: 5% 3%;
            }
        }
    }
}


