.feedback {
    z-index: 1;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    background: $gradient-form;
    transition: all 0.6s ease;

    padding: 0 0 10vh;
    padding: 10vh 0 10vh;

    @include tablet-768 {
        padding: 15vh 0 15vh;
        flex-direction: row;
    }

    &__img {
        display: none;
        opacity: 0.5;
        position: absolute;
        top: 50%;
        width: 80%;
        left: -10%;
        bottom: 0;
        transform: translate(-50%, -50%);

        transition: all 0.6s ease;

        box-shadow: 0px 9px 21px rgba(0, 0, 0, 0.25);

        @include tablet-768 {
            display: block;
        }

        @include tablet-992 {
            left: 0%;
            width: 70%;
        }
        @include laptopM-1200 {
            width: 50%;
        }

        @include laptopM-1440 {
            left: 20%;
            top: 50%;
        }
    }

    &__inner {
        width: 100%;

        @include tablet-768 {
            width: 60%;
            padding: 2%;
            margin-left: 40%;
        }

        @include laptopM-1440 {
            width: 50%;
            padding: 2%;
            margin-left: 50%;
        }
    }

    &__subtitle {
        margin-bottom: 15%;

        &--span {
            text-transform: uppercase;
        }
    }
}

.form {
    padding: 0 2%;

    @include tablet-768 {
        padding: 0;
    }
    &__group {
        border: none;
        margin: 0;
        padding: 0;
        margin-bottom: 10%;
        display: flex;
        flex-direction: column;
    }

    &__input {
        outline: none;
        color: $text-color;
        @include font-style(0.7vw, 300);
        padding-left: 5%;
        margin-bottom: 10%;

        background-color: transparent;
        border: none;
        border-bottom: 1px solid $text-hover;

        &:hover,
        &:active,
        &:focus {
            border-bottom: 1px solid $color-green;
        }

        &::placeholder {
            color: $text-hover;
            @include font-style(0.7vw, 300);
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__btn {
        margin-bottom: 5%;
    }

    .placeholder {
        color: rgba(255, 255, 255, 0.438);
        font-weight: 300;
    }
}
